* {
  font-family: "Marcellus SC", serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Marcellus SC", serif;
  font-size: 24px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.btn {
  background: #779423;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  display: block;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 0.75rem 1rem;
  max-width: 200px;
  text-align: center;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}

.navbar {
  background-color: white;
  padding: 15px 15px 15px 0px;
  position: fixed;
  width: 100vw;
}

.navbar ul,
.navbar li {
  display: inline-block;
  font-size: 22px;
  letter-spacing: 3px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 30px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/pexels-los-muertos-crew-7613568.jpg") center/cover no-repeat
      fixed;
  height: 300px;
  margin: 0 auto;
  padding: 250px 150px 150px 150px;
}

h1 {
  color: white;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 75px;
  letter-spacing: 5px;
  margin: 0 0 30px 0;
  text-align: center;
  text-transform: uppercase;
}

.header-btn {
  outline: 0.125rem solid #779423;
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.7rem;
}

.btn:hover {
  background-color: #9dc22f;
}

h2 {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 28px;
}

.about-section {
  background-color: #f5e6e2;
}

.about-info::first-letter {
  font-size: 64px;
}

.business {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 45px;
  letter-spacing: 2px;
}

.about-info,
.services ul {
  font-size: 28px;
  padding: 30px 90px;
}

.image-gallery {
  display: flex;
  width: vw;
}

.image-gallery img {
  height: 250px;
  width: 250px;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/pexels-los-muertos-crew-8230030.jpg") center/cover no-repeat
      fixed;
  color: white;
  height: 500px;
  margin: 0 auto;
}

footer p {
  font-size: 28px;
}

.contact-form-container {
  background: white;
  padding: 30px;
}

input,
textarea {
  background-color: #f8efed;
  border: none;
  padding: 5px;
  text-transform: uppercase;
}

.placeholder {
  font-size: 8px;
  letter-spacing: 2px;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
}
