* {
  box-sizing: border-box;
  font-family: "Marcellus SC", serif;
  margin: 0;
  padding: 0;
}

body {
  color: #1c2a01;
  font-family: "Marcellus SC", serif;
  font-size: 24px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.btn {
  background: #779423;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  max-width: 200px;
  text-align: center;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}

/* .navbar {
  background-color: white;
  padding: 15px;
  position: fixed;
  width: 100vw;
}

.navbar ul,
.navbar li {
  display: inline-block;
  font-family: "Barlow", sans-serif;
  font-size: 22px;
  letter-spacing: 3px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 30px;
} */

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  50% {
    opacity: 0.5;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.nav-btn {
  animation: bounce 2s ease infinite;
  color: #779423;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 1;
}

.navbar {
  background-color: #edeeef;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  transform: translatex(-100%);
  transition: all 100ms ease-in-out;
}

.showNav {
  transform: translate(0);
}

.navbar-header {
  text-align: right;
  padding-right: 1rem;
}

.nav-close {
  color: #8c361b;
  cursor: pointer;
  font-size: 2.5rem;
  transition: all 100ms ease-in-out;
}

.nav-close:hover {
  color: #d64c22;
}

.nav-items {
  list-style-type: none;
  padding: 45px 0;
}

.nav-link {
  color: #1c2a01;
  display: block;
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding: 8px 20px;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}

.nav-link:hover {
  background-color: #9dc22f;
  border-left: 0.25rem solid #1c2a01;
  color: white;
  padding-left: 30px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/pexels-los-muertos-crew-7613568.jpg") center/cover no-repeat
      fixed;
  height: 600px;
  margin: 0 auto;
  padding: 200px 150px 150px 150px;
}

h1 {
  color: white;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 55px;
  letter-spacing: 5px;
  margin: 0 0 45px 0;
  text-align: center;
  text-transform: uppercase;
}

.header-btn {
  border-radius: 15px 15px 15px 0;
  outline: 0.125rem solid rgb(119, 148, 35);
  outline-offset: 0.25rem;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}

.btn:hover {
  background-color: #9dc22f;
  transform: scale(1.1);
}

h2 {
  font-size: 20px;
  font-weight: normal;
}

h2::first-letter {
  font-size: 44px;
}

.about-section {
  background-color: #fff3f4;
  padding: 30px 90px 0px 90px;
}

.about-suggestions-and-image {
  display: flex;
  justify-content: space-between;
}

.about-suggestions::before {
  border-top: 3px solid #8c361b;
  border-left: 3px solid #8c361b;
  top: 82px;
  left: -22px;
  content: "";
  width: 14rem;
  z-index: 1;
  display: inline-block;
  height: 3.25rem;
  position: absolute;
}

.about-suggestions {
  height: 20vh;
  padding-top: 100px;
  position: relative;
  width: 85vw;
}

.about-suggestions::after {
  border-bottom: 3px solid #8c361b;
  border-right: 3px solid #8c361b;
  bottom: -160px;
  right: -15px;
  content: "";
  width: 14rem;
  z-index: 1;
  display: inline-block;
  height: 3.25rem;
  position: absolute;
}

.about-image {
  border-radius: 100px 100px 100px 0px;
  padding: 60px;
  max-width: 40%;
}

.tagline-section {
  color: white;
  background-color: #1c2a01;
  padding: 40px 85px;
}

span.tagline {
  font-size: 20px;
  letter-spacing: 1.5px;
}

.company-name {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 34px;
  letter-spacing: 2px;
}

.services-section {
  background: #edeeef;
  display: flex;
  overflow: hidden;
}

h4 {
  color: #779423;
  font-size: 21px;
  letter-spacing: 1.5px;
  margin: 0 auto;
}

.services-section p {
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  margin: 12px auto;
}

.icon {
  display: block;
  margin: 30px 30px 40px 30px;
}

.service {
  padding: 30px 20px 20px 20px;
  width: 14.286%;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.service:hover {
  background-color: white;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.success-stories-section {
  background-color: #8c361b;
  padding: 60px;
}

.success-stories-container {
  background-color: white;
  border-radius: 50px 50px 50px 0px;
  padding: 40px;
}

.success-stories-container p {
  color: #1c2a01;
  font-family: "Barlow", sans-serif;
  margin-bottom: 35px;
  text-align: center;
}

/* .image-gallery {
  display: flex;
}

.image-gallery img {
  height: 200px;
  width: 14.286%;
} */

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-los-muertos-crew-8230030.jpg") center/cover no-repeat
      fixed;
  height: 600px;
  margin: 0 auto;
  padding: 90px 45px;
}

footer h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

footer p {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
}

.contact-info {
  display: flex;
  gap: 45px;
  justify-content: center;
}

.location-and-hours-container {
  background-color: #1c2a01;
  border-radius: 100px 100px 0px 100px;
  padding: 60px;
  width: 25vw;
}

.contact-form-container {
  background: rgb(237, 238, 239, 0.3);
  border-radius: 100px 100px 100px 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 60px;
  width: 30vw;
}

input,
textarea {
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

::placeholder {
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

.by {
  color: white;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 60px;
  text-align: center;
}

.by a {
  color: #ff7be7;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  letter-spacing: 1.15px;
}

.by a:hover {
  color: #ffb0f1;
  text-decoration: underline;
}

@media screen and (min-width: 769px) {
  .navbar {
    width: 35vw;
    max-width: 20rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }

  .about-suggestions::before,
  .about-suggestions::after,
  .about-image {
    display: none;
  }

  /* img {
    display: block;
    margin: 0 auto;
    width: 100%;
  } */

  .service {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 85vw;
  }

  .by {
    font-size: 11px;
  }
}
